body {
    height: 98vh;
    background-image: url(src/images/espaco.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

main {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 98vh;
}
  
